@model IEnumerable<OfficeSuppliersLinkSoft.Web.Models.GroupViewModel>

@{
    ViewBag.Title = "Groups";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.GroupId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.GroupId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.GroupId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>