<!DOCTYPE html>
<html>
<head>
    @{ ViewBag.AppName = "OfficeSuppliers LinkSoft"; }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title - @ViewBag.AppName</title>

    <!-- Bootstrap -->
    @Styles.Render("~/bundles/bootstrap/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
    html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/
    respond.min.js"></script>
    <![endif]-->

</head>
<body>
    @{Html.RenderPartial("_Partials/NavBar");}

    <div class="container body-content">
        @RenderBody()
        <hr />
        @{Html.RenderPartial("_Partials/Footer");}
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/js")
    @RenderSection("scripts", required: false)
</body>
</html>
